@font-face {
    font-family: 'NorkartAvenir';
    src: url('../../fonts/AvenirLTStd-Book.woff') format('woff');
    font-style: normal;
}

body {
    font-family: "NorkartAvenir", "Helvetica Neue", arial, sans-serif;
    font-weight: 500;
    font-style: normal;
    // font-size: 1rem;
}

// strong {
//     font-family: "NorkartAvenir", "Helvetica Neue", arial, sans-serif;
//     font-weight: 900;
//     font-style: normal;
// }
