.navbar, .form-control {
    border-radius: 0;
}


// .react-table .table > thead > tr > th,
// .react-table .table > thead > tr > td,
// .react-table .table > tfoot > tr > th,
// .react-table .table > tfoot > tr > td, 
.react-table .table > tbody > tr {
    background-color: #f9f9f9;
    border-collapse:collapse;
    &:hover {
        background-color: #ddd;
    }
}

.react-table .table > tbody > tr > td{
    border-top:0px;
    border-bottom:0.35rem solid white;
}

.react-table .table > thead > tr > th{
    border-bottom:0rem solid white;
    font-family: "NorkartAvenirHeavy", "Helvetica Neue", arial, sans-serif;

}


.avtive {
    border-radius:0px;
}

.list-group-item:first-child, .list-group-item:last-child {
    border-radius:0px;
}

.glyphicon-search {
    top:25%;
}
// .react-table .table {
//     border-collapse: collapse;
// }


// .react-table .table > tbody {
//     border-top: 2px solid #ddd;
// }
// .table>tbody>tr>td,
// .table>tbody>tr>th,
// .table>tfoot>tr>td,
// .table>tfoot>tr>th,
// .table>thead>tr>td,
// .table>thead>tr>th
