
@import 'table';
@import 'map';
@import 'fonts';
@import 'wms';
@import 'home';

body {
    position:absolute;
    width:100%;
    height:100%;
}

#app {
    position:inherit;
    width:inherit;
    height:inherit;
    margin: 0 auto;
    padding: 0 6.5rem;
}

.col-md-12 {
    &.page-nav {
        top: 20%;
        width:100%;
        height:7%;
        text-align: left;

        .page-header {
            margin-top: 0px;
            // margin-bottom: 10px;
            padding: 0px;
        }
    }
}

.page {
    top:30%;
    padding-bottom: 5%;
}

.main-link {
    background-color: white;
    padding: 0.5% 1%;
    margin-right: 3%;
    border: 0.3vh solid #E6E6E8;
    // border-left: 0.3vh solid darkgrey;
    // border-right: 0.3vh solid darkgrey;
    // border-bottom: 0.3vh solid darkgrey;
    text-align: center;
    text-decoration: none;
    color: black;
    display:inline-block;

    &:hover {
        text-decoration: none;
        color: black;
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.2);
        box-shadow: inset 0 0 6px rgba(0,0,0,0.2);
    }

    &.active {
        border: 0.3vh solid #2E2D30;
        color:black;
        text-decoration: none;
    }

    &:after {
        color:black;
        text-decoration: none;
    }
}

.row {
    &.headerContent {
        width:inherit;
        padding: 4.375rem 0;
        font-size: 1.25rem;
    }
}

.headerTitle {
    text-decoration: none;
    color: black;
    font-family: "NorkartAvenirHeavy", "Helvetica Neue", arial, sans-serif;
    weight: bold;
    // margin:auto;
    font-size: 52.5px;
    font-weight: bold;
    cursor: pointer;
    // display: inline-block;

    &:hover {
        text-decoration: none;
        color: black;
    }

    &:visited {
        text-decoration: none;
        color: black;
    }
}

.col-md-6 {
    &.descriptionContainer {
        max-width: 65rem;
        margin-top:30px;
    }
}

.headerDescription {
    font-size: 20px;
}

.row {
    &.description-text {
        margin-bottom:15px;
    }
}
.col-md-5 {
    &.description-text {
        font-size: 1.5rem;
    }
}

